/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-background-color: #efefe9;
} */

:root {
  --ifm-color-primary: #9b0937;
  --ifm-color-primary-dark: #8c0832;
  --ifm-color-primary-darker: #84082f;
  --ifm-color-primary-darkest: #6c0627;
  --ifm-color-primary-light: #ab0a3d;
  --ifm-color-primary-lighter: #b20a3f;
  --ifm-color-primary-lightest: #ca0c48;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-background-color: #FAF9F6;
}
.heroBanner {
  min-height: 420px;          /* controls overall height */
  padding: 3rem 0;            /* reduce vertical padding */
  display: flex;
  align-items: center;        /* vertically center content */
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-image: url('/img/SSHeroRed.png');
  color: white;
}

[data-theme='dark'] .heroBanner {
  background-image: url('/img/SSHeroOrange.png');
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ee5542;
  --ifm-color-primary-dark: #eb3c26;
  --ifm-color-primary-darker: #ea2f18;
  --ifm-color-primary-darkest: #c32512;
  --ifm-color-primary-light: #f16e5e;
  --ifm-color-primary-lighter: #f27b6c;
  --ifm-color-primary-lightest: #f6a096;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .ssHeroBanner {
    min-height: 300px;
    padding: 2rem 1rem;
  }
}